checkpoints
chest_xray
enhanced
models
.ipynb_checkpoints
Diagnosing-Pneumonia-CNN.pptx
Intermediate_Activations_Visualized.pdf
Diagnosing-Pneumonia-CNN.mp4
Pneumonia_Classifier-JupyterNotebook.pdf
Pneumonia-Classifier_github.pdf
old_models
Pneumonia_Classifier-R1.ipynb
results_old
